.border {
    padding-top: 1rem;
    display: flex;
    padding-bottom: 1rem;
    padding-left: 2rem;
    width: 40rem;
    justify-content: flex-start;
    border: 1px solid #c2185b;
    border-radius: 12px 12px 12px 12px;
}

.bold {
    font-weight: 500;
}